
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
header{
    background: #000;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 30px;
    padding: 10px;
}
h3{
    color:red;
}

article{
    width: 100%;
    margin: auto;
    float: left;
}

.menu{
    text-align: center;
	padding: 0;
	background: black;
	width: 100%;
	margin: auto;
}
.menu, li, a{
	text-decoration: none;
	color: white;
	padding: 20px;
}

   .contenedor{
        width: 100%;
        margin: auto;
        float: left;
        height: 1600px;
        background-color: #dcdcdc;
    }
   .p1, .p2 {
       border-radius: 10px;
       background-color: #fff;
    text-align: center;
        width: 250px;
        height: 430px;
        /*display: block;*/
        margin:auto;
       margin: 20px;
       float: left;
        padding: 30px;
  
    }
    img{

        display: auto;
        
    }
    
img:hover{
        transform: scale(1.15);
    }
    .button {
        background-color: #005a9e; /* Green */
        border: none;
        color: white;
        padding: 5px 5px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    .pie-pagina{
        width: 100%;
        background-color: black;
    }
    .pie-pagina .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:50px;
        padding: 45px 0px;
    }
    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pie-pagina .grupo-1 .box figure img{
        width: 250px;
    }
    .pie-pagina .grupo-1 .box h2{
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;
    }
    .pie-pagina .grupo-1 .box p{
        color: #efefef;
        margin-bottom: 10px;
    }
    .pie-pagina .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
        transition: all 300ms ease;
    }
    .pie-pagina .grupo-1 .red-social a:hover{
        color: aqua;
    }
    .pie-pagina .grupo-2{
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }
    .pie-pagina .grupo-2 small{
        font-size: 15px;
    }
    @media screen and (max-width:800px){
        .pie-pagina .grupo-1{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap:30px;
            padding: 35px 0px;
        }
    }

    table{
        background-color: #dcdcdc;
        text-align: center;
        width: 1350px;
        height: 150px;
        /*display: block;*/
        margin:auto;
       margin: 20px;
    }


/*
    .fiel{
        border: 3px pink;
    }
    legend{
        text-align: center;
        color:black ;
        font-size: 35px;
    }
    th{
        color: #000;
        margin:10px;
    }

    td{
        color: #000;
        margin: 10;
    }

    
 